* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

html {
    font-size: 16px;
    background-color: #f5f5f5;
}

/* HEADER */
.header {
    background: #4D148C;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
}

#logo {
    height: 250%;
}

.location {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 0.8%;
}

.datetime {
    text-align: right;
}

/* SUB-HEADER*/
.sub-header {
    background: #9166be;
    height: 7vh;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon {
    cursor: pointer;
}

#history {
    height: 2.6rem;
}
#manager {
    height: 2.6rem;
}
#hide {
    height: 2.6rem;
}
#filter {
    height: 1.5rem;
}

.icon:hover {
    color: #FF6200;
    transform: scale(1.1);
}

.system-health {
    font-size: 1.2rem;
    margin-left: 2.3%;
}

/* MAIN ALERT GRID */
.alert-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  /* make ALL 4 cells equal height */
    height: calc(100vh - (9vh + 7vh));  /* fill full screen minus header/subheader */
    gap: 2rem;                         /* adjust spacing */
    padding: 2rem;
}


/* ALERT CARDS */
.alert-card {
    background: white;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0px 6px 14px rgba(0,0,0,0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.1rem rem 0 0;
}


/* CARD HEADER */
.card-header {
    background: #E92626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    color: white;
}

.card-header.red {
    background: #E92626;
}
.card-header.yellow {
    background: #FFB120;
}
.card-header.green {
    background: #25D10E;
}

.alert-card.red {
    border: 3px solid #E92626;
}

.alert-card.yellow {
    border: 3px solid #FFB120;
}

.alert-card.green {
    border: 3px solid #25D10E;
}

.card-header .card-icon {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: contain;
}

.card-header h2 {
    flex: 1;                         /* take remaining space */
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
}

.card-header .card-hide-icon {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
    object-fit: contain;
    position: absolute;
    top: 0.35rem;
    right: 0.5rem;
}

.card-header .card-hide-icon:hover {
    transform: scale(1.1);
}

/* CARD BODY */
.card-body {
    padding: 2rem;
    text-align: center;
}

.card-body h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-body p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.stack {
    position: relative;
    width: 100%;
    height: 100%;
}

.alert-card {
    position: absolute;
    inset: 0;
}

.stack-1 {
    transform: translate(0rem, 0rem);
    z-index: 10;
}

.stack-2 {
    transform: translate(0.6rem, -0.5rem);
    z-index: 9;
}

.stack-3 {
    transform: translate(1.2rem, -1rem);
    z-index: 8;
}

@media (max-width: 600px) {
html {
    font-size: 12px;
}

.alert-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    height: 80rem;
    gap: 4rem;
}

.location {
    font-size: 1.5rem;
    margin-right: 5%;
    margin-top: 4%;
}
.sub-header {
    height: 5vh;
    padding: 0;
}
.header {
    padding: 0 1rem;
    height: 7vh;
}

#logo {
    height: 100%;
}
}